######### 필요한 것들 맞춰서 작업할 때 가져가서 쓰세요! #########

# DB
DATABASE_URL="postgresql://내유저명:비밀번호@localhost:5432/favorite_photo?schema=public"

# 서버
PORT=3001
NODE_ENV=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# CORS
CLIENT_URL=

# 포인트 뽑기 간격(분 단위)
# 개발 테스트 예: 5
# 운영 예: 60
POINT_DRAW_INTERVAL_MINUTES=5